<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign In</title>
	<style type="text/css">
	
		body{
			margin: 250px 450px 200px 450px;
			background-image: url("../image/food.jpg");
			background-size: cover;
		}
		
	</style>
</head>
<body>
	<center><h1 >Restaurant Management System</h1></center>
	<center>
	<table>
		<tr>
			<td>Email Id</td>
			<td>: <input type="text" placeholder="Enter Email" name="email" required></td>
		</tr>
		<tr>
			<td>password</td>
		<td>: <input type="password" placeholder="Password" name="psw" required></td>
		</tr>
		<tr>
		<td></td>
		<td>
			<button type="button" class="cancelbtn">Cancel</button>
      		<button type="submit" class="signupbtn">Sign in</button>
    	</td>
	</tr>
	</table>
	</center>

</body>
</html>