<html>
<head>
<title>Food Ordering</title>
<style>
	h1 {
  background-color: transparent;
  color: black;
}
	body {
  background-image: url("D:\Maori-Food-3-AhiPara-DMC.jpg");

	}
.border{border-style:solid;
border-width:5px;
border-color: transparent;
margin: 250px 450px 200px 450px;}
</style>
</head>
<body class=border>
	<center><h1 >Restaurant Management System</h1></center>
<center>
<table style="color:  black;">
	<tr>
		<td colspan="3"><h1><center>Sign up</center></h1></td>
	</tr>
	<tr>
		<td>First name</td>
		<td>: <input type="text" placeholder="First name" name="name" required></td>
	</tr>
	<tr>
		<td>Last name</td>
		<td>: <input type="text" placeholder="Last name" name="name" ></td>
	</tr>
	<tr>
		<td>Email</td>
		<td>: <input type="text" placeholder="Enter Email" name="email" required></td>
	</tr>
	<tr>
		<td>gender</td>
	</tr>
	<tr>
		<td></td>
		<td><input type="radio" name="gender">male</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="radio" name="gender">female</td>
	</tr>
		
	<tr>
		<td>password</td>
		<td>: <input type="password" placeholder="Password" name="psw" required></td>
	</tr> 
	<tr>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<button type="button" class="cancelbtn">Cancel</button>
      		<button type="submit" class="signupbtn">Sign Up</button>
    	</td>
	</tr>
</table>
</center>
</body>
</html>